html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  font-family: var(--font-body);
  background: var(--color-background);
  color: var(--color-text);
}

#root {
  overflow: visible;
}